body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table h1 {
    color: #333;
  }
  
  .table ul {
    list-style-type: none;
    padding: 0;
  }
  
  .tableItem {
    margin: 8px 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn{
    padding: 50px;
  }